In [278]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import roc_auc_score

In [211]:
train = pd.read_csv('../data/clean_train.csv')

In [212]:
train['wage_ >50K'].value_counts()

0    24720
1     7841
Name: wage_ >50K, dtype: int64

In [213]:
train.drop(columns='native-country_ Holand-Netherlands', inplace=True)

In [214]:
np.random.seed(42)

train = pd.concat([train, train[train['wage_ >50K'] == 1].sample(24720-7841, replace = True)], axis=0)

In [215]:
train.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,wage_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [216]:
train.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,wage_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [355]:

X = train.drop(columns='wage_ >50K')
y = train['wage_ >50K']

In [315]:
remaining = list(X.columns)
starting = list(X.columns)
for col in remaining:
    for col_2 in starting:
        X[f'{col} * {col_2}'] = X[f'{col}'] * X[f'{col_2}']
    remaining.remove(col)

In [316]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

In [317]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [318]:
sel = SelectFromModel(rf,prefit=True, threshold= 'mean')
good_features = list(X.columns[sel.get_support()])

In [320]:
len(X.columns)

4655

In [321]:
len(good_features)

425

In [322]:
rf.score(X_train, y_train), rf.score(X_test, y_test)

(1.0, 0.9224110032362459)

In [323]:
((rf.predict_proba(X_train)[:,0] - y_train)**2).mean(), ((rf.predict_proba(X_test)[:,0] - y_test)**2).mean()

(0.9152574541533202, 0.804525509708731)

In [324]:
roc_auc_score(y_train, rf.predict_proba(X_train)[:,1]), roc_auc_score(y_test, rf.predict_proba(X_test)[:,1])

(1.0, 0.9803732918129429)

In [325]:
X_selected = X[good_features]

In [326]:
list(X_selected.columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'workclass_ Federal-gov',
 'workclass_ Local-gov',
 'workclass_ Private',
 'workclass_ Self-emp-inc',
 'workclass_ Self-emp-not-inc',
 'workclass_ State-gov',
 'education_ Assoc-voc',
 'education_ Bachelors',
 'education_ Doctorate',
 'education_ HS-grad',
 'education_ Masters',
 'education_ Prof-school',
 'education_ Some-college',
 'marital-status_ Married-civ-spouse',
 'marital-status_ Never-married',
 'occupation_ Adm-clerical',
 'occupation_ Craft-repair',
 'occupation_ Exec-managerial',
 'occupation_ Farming-fishing',
 'occupation_ Machine-op-inspct',
 'occupation_ Other-service',
 'occupation_ Prof-specialty',
 'occupation_ Protective-serv',
 'occupation_ Sales',
 'occupation_ Tech-support',
 'occupation_ Transport-moving',
 'relationship_ Not-in-family',
 'relationship_ Own-child',
 'relationship_ Unmarried',
 'relationship_ Wife',
 'sex_ Male',
 'native-country_ Mexico',
 'native-country_ United-States',
 'age * age',
 'age * fnlwgt',
 'age * education-num',
 'age * capital-gain',
 'age * capital-loss',
 'age * hours-per-week',
 'age * workclass_ Federal-gov',
 'age * workclass_ Local-gov',
 'age * workclass_ Private',
 'age * workclass_ Self-emp-inc',
 'age * workclass_ Self-emp-not-inc',
 'age * workclass_ State-gov',
 'age * education_ 11th',
 'age * education_ Assoc-acdm',
 'age * education_ Assoc-voc',
 'age * education_ Bachelors',
 'age * education_ Doctorate',
 'age * education_ HS-grad',
 'age * education_ Masters',
 'age * education_ Prof-school',
 'age * education_ Some-college',
 'age * marital-status_ Married-civ-spouse',
 'age * marital-status_ Never-married',
 'age * marital-status_ Separated',
 'age * marital-status_ Widowed',
 'age * occupation_ Adm-clerical',
 'age * occupation_ Craft-repair',
 'age * occupation_ Exec-managerial',
 'age * occupation_ Farming-fishing',
 'age * occupation_ Handlers-cleaners',
 'age * occupation_ Machine-op-inspct',
 'age * occupation_ Other-service',
 'age * occupation_ Prof-specialty',
 'age * occupation_ Protective-serv',
 'age * occupation_ Sales',
 'age * occupation_ Tech-support',
 'age * occupation_ Transport-moving',
 'age * relationship_ Not-in-family',
 'age * relationship_ Own-child',
 'age * relationship_ Unmarried',
 'age * relationship_ Wife',
 'age * sex_ Male',
 'age * native-country_ Mexico',
 'age * native-country_ United-States',
 'education-num * age',
 'education-num * fnlwgt',
 'education-num * education-num',
 'education-num * capital-gain',
 'education-num * capital-loss',
 'education-num * hours-per-week',
 'education-num * workclass_ Federal-gov',
 'education-num * workclass_ Local-gov',
 'education-num * workclass_ Private',
 'education-num * workclass_ Self-emp-inc',
 'education-num * workclass_ Self-emp-not-inc',
 'education-num * workclass_ State-gov',
 'education-num * education_ Assoc-voc',
 'education-num * education_ Bachelors',
 'education-num * education_ Doctorate',
 'education-num * education_ HS-grad',
 'education-num * education_ Masters',
 'education-num * education_ Prof-school',
 'education-num * education_ Some-college',
 'education-num * marital-status_ Married-civ-spouse',
 'education-num * marital-status_ Never-married',
 'education-num * marital-status_ Separated',
 'education-num * marital-status_ Widowed',
 'education-num * occupation_ Adm-clerical',
 'education-num * occupation_ Craft-repair',
 'education-num * occupation_ Exec-managerial',
 'education-num * occupation_ Farming-fishing',
 'education-num * occupation_ Handlers-cleaners',
 'education-num * occupation_ Machine-op-inspct',
 'education-num * occupation_ Other-service',
 'education-num * occupation_ Prof-specialty',
 'education-num * occupation_ Protective-serv',
 'education-num * occupation_ Sales',
 'education-num * occupation_ Tech-support',
 'education-num * occupation_ Transport-moving',
 'education-num * relationship_ Not-in-family',
 'education-num * relationship_ Own-child',
 'education-num * relationship_ Unmarried',
 'education-num * relationship_ Wife',
 'education-num * sex_ Male',
 'education-num * native-country_ Mexico',
 'education-num * native-country_ United-States',
 'capital-loss * age',
 'capital-loss * fnlwgt',
 'capital-loss * education-num',
 'capital-loss * capital-loss',
 'capital-loss * hours-per-week',
 'capital-loss * workclass_ Private',
 'capital-loss * education_ Bachelors',
 'capital-loss * education_ HS-grad',
 'capital-loss * marital-status_ Married-civ-spouse',
 'capital-loss * marital-status_ Never-married',
 'capital-loss * occupation_ Craft-repair',
 'capital-loss * occupation_ Exec-managerial',
 'capital-loss * relationship_ Not-in-family',
 'capital-loss * sex_ Male',
 'capital-loss * native-country_ United-States',
 'workclass_ Federal-gov * age',
 'workclass_ Federal-gov * fnlwgt',
 'workclass_ Federal-gov * education-num',
 'workclass_ Federal-gov * hours-per-week',
 'workclass_ Federal-gov * workclass_ Federal-gov',
 'workclass_ Federal-gov * marital-status_ Married-civ-spouse',
 'workclass_ Federal-gov * sex_ Male',
 'workclass_ Federal-gov * native-country_ United-States',
 'workclass_ Self-emp-inc * age',
 'workclass_ Self-emp-inc * fnlwgt',
 'workclass_ Self-emp-inc * education-num',
 'workclass_ Self-emp-inc * hours-per-week',
 'workclass_ Self-emp-inc * workclass_ Self-emp-inc',
 'workclass_ Self-emp-inc * marital-status_ Married-civ-spouse',
 'workclass_ Self-emp-inc * sex_ Male',
 'workclass_ Self-emp-inc * native-country_ United-States',
 'workclass_ State-gov * age',
 'workclass_ State-gov * fnlwgt',
 'workclass_ State-gov * education-num',
 'workclass_ State-gov * hours-per-week',
 'workclass_ State-gov * workclass_ State-gov',
 'workclass_ State-gov * marital-status_ Married-civ-spouse',
 'workclass_ State-gov * sex_ Male',
 'workclass_ State-gov * native-country_ United-States',
 'education_ 11th * age',
 'education_ 11th * fnlwgt',
 'education_ 11th * hours-per-week',
 'education_ 11th * education_ 11th',
 'education_ 11th * native-country_ United-States',
 'education_ 7th-8th * age',
 'education_ 7th-8th * fnlwgt',
 'education_ 7th-8th * hours-per-week',
 'education_ Assoc-acdm * age',
 'education_ Assoc-acdm * fnlwgt',
 'education_ Assoc-acdm * hours-per-week',
 'education_ Bachelors * age',
 'education_ Bachelors * fnlwgt',
 'education_ Bachelors * education-num',
 'education_ Bachelors * capital-gain',
 'education_ Bachelors * capital-loss',
 'education_ Bachelors * hours-per-week',
 'education_ Bachelors * workclass_ Local-gov',
 'education_ Bachelors * workclass_ Private',
 'education_ Bachelors * workclass_ Self-emp-not-inc',
 'education_ Bachelors * education_ Bachelors',
 'education_ Bachelors * marital-status_ Married-civ-spouse',
 'education_ Bachelors * marital-status_ Never-married',
 'education_ Bachelors * occupation_ Exec-managerial',
 'education_ Bachelors * relationship_ Not-in-family',
 'education_ Bachelors * relationship_ Wife',
 'education_ Bachelors * sex_ Male',
 'education_ Bachelors * native-country_ United-States',
 'education_ HS-grad * age',
 'education_ HS-grad * fnlwgt',
 'education_ HS-grad * education-num',
 'education_ HS-grad * capital-gain',
 'education_ HS-grad * capital-loss',
 'education_ HS-grad * hours-per-week',
 'education_ HS-grad * workclass_ Local-gov',
 'education_ HS-grad * workclass_ Private',
 'education_ HS-grad * workclass_ Self-emp-not-inc',
 'education_ HS-grad * education_ HS-grad',
 'education_ HS-grad * marital-status_ Married-civ-spouse',
 'education_ HS-grad * marital-status_ Never-married',
 'education_ HS-grad * occupation_ Adm-clerical',
 'education_ HS-grad * occupation_ Craft-repair',
 'education_ HS-grad * occupation_ Machine-op-inspct',
 'education_ HS-grad * relationship_ Not-in-family',
 'education_ HS-grad * relationship_ Own-child',
 'education_ HS-grad * sex_ Male',
 'education_ HS-grad * native-country_ United-States',
 'education_ Some-college * age',
 'education_ Some-college * fnlwgt',
 'education_ Some-college * education-num',
 'education_ Some-college * capital-gain',
 'education_ Some-college * hours-per-week',
 'education_ Some-college * workclass_ Private',
 'education_ Some-college * workclass_ Self-emp-not-inc',
 'education_ Some-college * education_ Some-college',
 'education_ Some-college * marital-status_ Married-civ-spouse',
 'education_ Some-college * occupation_ Craft-repair',
 'education_ Some-college * relationship_ Wife',
 'education_ Some-college * sex_ Male',
 'education_ Some-college * native-country_ United-States',
 'marital-status_ Married-civ-spouse * age',
 'marital-status_ Married-civ-spouse * fnlwgt',
 'marital-status_ Married-civ-spouse * education-num',
 'marital-status_ Married-civ-spouse * capital-gain',
 'marital-status_ Married-civ-spouse * capital-loss',
 'marital-status_ Married-civ-spouse * hours-per-week',
 'marital-status_ Married-civ-spouse * workclass_ Local-gov',
 'marital-status_ Married-civ-spouse * workclass_ Private',
 'marital-status_ Married-civ-spouse * workclass_ Self-emp-inc',
 'marital-status_ Married-civ-spouse * workclass_ Self-emp-not-inc',
 'marital-status_ Married-civ-spouse * education_ Bachelors',
 'marital-status_ Married-civ-spouse * education_ HS-grad',
 'marital-status_ Married-civ-spouse * education_ Masters',
 'marital-status_ Married-civ-spouse * education_ Prof-school',
 'marital-status_ Married-civ-spouse * education_ Some-college',
 'marital-status_ Married-civ-spouse * marital-status_ Married-civ-spouse',
 'marital-status_ Married-civ-spouse * occupation_ Adm-clerical',
 'marital-status_ Married-civ-spouse * occupation_ Craft-repair',
 'marital-status_ Married-civ-spouse * occupation_ Exec-managerial',
 'marital-status_ Married-civ-spouse * occupation_ Farming-fishing',
 'marital-status_ Married-civ-spouse * occupation_ Machine-op-inspct',
 'marital-status_ Married-civ-spouse * occupation_ Other-service',
 'marital-status_ Married-civ-spouse * occupation_ Prof-specialty',
 'marital-status_ Married-civ-spouse * occupation_ Protective-serv',
 'marital-status_ Married-civ-spouse * occupation_ Sales',
 'marital-status_ Married-civ-spouse * occupation_ Tech-support',
 'marital-status_ Married-civ-spouse * occupation_ Transport-moving',
 'marital-status_ Married-civ-spouse * relationship_ Wife',
 'marital-status_ Married-civ-spouse * sex_ Male',
 'marital-status_ Married-civ-spouse * native-country_ Mexico',
 'marital-status_ Married-civ-spouse * native-country_ United-States',
 'marital-status_ Never-married * age',
 'marital-status_ Never-married * fnlwgt',
 'marital-status_ Never-married * education-num',
 'marital-status_ Never-married * capital-gain',
 'marital-status_ Never-married * capital-loss',
 'marital-status_ Never-married * hours-per-week',
 'marital-status_ Never-married * workclass_ Private',
 'marital-status_ Never-married * education_ Bachelors',
 'marital-status_ Never-married * education_ HS-grad',
 'marital-status_ Never-married * education_ Some-college',
 'marital-status_ Never-married * marital-status_ Never-married',
 'marital-status_ Never-married * occupation_ Other-service',
 'marital-status_ Never-married * occupation_ Prof-specialty',
 'marital-status_ Never-married * relationship_ Not-in-family',
 'marital-status_ Never-married * relationship_ Own-child',
 'marital-status_ Never-married * sex_ Male',
 'marital-status_ Never-married * native-country_ United-States',
 'marital-status_ Widowed * age',
 'marital-status_ Widowed * fnlwgt',
 'marital-status_ Widowed * hours-per-week',
 'marital-status_ Widowed * native-country_ United-States',
 'occupation_ Exec-managerial * age',
 'occupation_ Exec-managerial * fnlwgt',
 'occupation_ Exec-managerial * education-num',
 'occupation_ Exec-managerial * capital-gain',
 'occupation_ Exec-managerial * capital-loss',
 'occupation_ Exec-managerial * hours-per-week',
 'occupation_ Exec-managerial * workclass_ Private',
 'occupation_ Exec-managerial * workclass_ Self-emp-not-inc',
 'occupation_ Exec-managerial * education_ Bachelors',
 'occupation_ Exec-managerial * education_ Masters',
 'occupation_ Exec-managerial * marital-status_ Married-civ-spouse',
 'occupation_ Exec-managerial * marital-status_ Never-married',
 'occupation_ Exec-managerial * occupation_ Exec-managerial',
 'occupation_ Exec-managerial * relationship_ Not-in-family',
 'occupation_ Exec-managerial * relationship_ Wife',
 'occupation_ Exec-managerial * sex_ Male',
 'occupation_ Exec-managerial * native-country_ United-States',
 'occupation_ Handlers-cleaners * age',
 'occupation_ Handlers-cleaners * fnlwgt',
 'occupation_ Handlers-cleaners * education-num',
 'occupation_ Handlers-cleaners * hours-per-week',
 'occupation_ Handlers-cleaners * marital-status_ Married-civ-spouse',
 'occupation_ Handlers-cleaners * sex_ Male',
 'occupation_ Other-service * age',
 'occupation_ Other-service * fnlwgt',
 'occupation_ Other-service * education-num',
 'occupation_ Other-service * hours-per-week',
 'occupation_ Other-service * workclass_ Private',
 'occupation_ Other-service * marital-status_ Married-civ-spouse',
 'occupation_ Other-service * marital-status_ Never-married',
 'occupation_ Other-service * occupation_ Other-service',
 'occupation_ Other-service * sex_ Male',
 'occupation_ Other-service * native-country_ United-States',
 'occupation_ Prof-specialty * age',
 'occupation_ Prof-specialty * fnlwgt',
 'occupation_ Prof-specialty * education-num',
 'occupation_ Prof-specialty * capital-gain',
 'occupation_ Prof-specialty * hours-per-week',
 'occupation_ Prof-specialty * workclass_ Local-gov',
 'occupation_ Prof-specialty * workclass_ Private',
 'occupation_ Prof-specialty * workclass_ Self-emp-not-inc',
 'occupation_ Prof-specialty * education_ Prof-school',
 'occupation_ Prof-specialty * marital-status_ Married-civ-spouse',
 'occupation_ Prof-specialty * marital-status_ Never-married',
 'occupation_ Prof-specialty * occupation_ Prof-specialty',
 'occupation_ Prof-specialty * relationship_ Not-in-family',
 'occupation_ Prof-specialty * sex_ Male',
 'occupation_ Prof-specialty * native-country_ United-States',
 'occupation_ Sales * age',
 'occupation_ Sales * fnlwgt',
 'occupation_ Sales * education-num',
 'occupation_ Sales * capital-gain',
 'occupation_ Sales * hours-per-week',
 'occupation_ Sales * workclass_ Private',
 'occupation_ Sales * marital-status_ Married-civ-spouse',
 'occupation_ Sales * occupation_ Sales',
 'occupation_ Sales * sex_ Male',
 'occupation_ Sales * native-country_ United-States',
 'occupation_ Transport-moving * age',
 'occupation_ Transport-moving * fnlwgt',
 'occupation_ Transport-moving * education-num',
 'occupation_ Transport-moving * hours-per-week',
 'occupation_ Transport-moving * workclass_ Private',
 'occupation_ Transport-moving * marital-status_ Married-civ-spouse',
 'occupation_ Transport-moving * occupation_ Transport-moving',
 'occupation_ Transport-moving * sex_ Male',
 'occupation_ Transport-moving * native-country_ United-States',
 'relationship_ Other-relative * hours-per-week',
 'relationship_ Unmarried * age',
 'relationship_ Unmarried * fnlwgt',
 'relationship_ Unmarried * education-num',
 'relationship_ Unmarried * capital-gain',
 'relationship_ Unmarried * hours-per-week',
 'relationship_ Unmarried * workclass_ Private',
 'relationship_ Unmarried * education_ HS-grad',
 'relationship_ Unmarried * relationship_ Unmarried',
 'relationship_ Unmarried * native-country_ United-States',
 'sex_ Male * age',
 'sex_ Male * fnlwgt',
 'sex_ Male * education-num',
 'sex_ Male * capital-gain',
 'sex_ Male * capital-loss',
 'sex_ Male * hours-per-week',
 'sex_ Male * workclass_ Local-gov',
 'sex_ Male * workclass_ Private',
 'sex_ Male * workclass_ Self-emp-inc',
 'sex_ Male * workclass_ Self-emp-not-inc',
 'sex_ Male * workclass_ State-gov',
 'sex_ Male * education_ Bachelors',
 'sex_ Male * education_ HS-grad',
 'sex_ Male * education_ Masters',
 'sex_ Male * education_ Prof-school',
 'sex_ Male * education_ Some-college',
 'sex_ Male * marital-status_ Married-civ-spouse',
 'sex_ Male * marital-status_ Never-married',
 'sex_ Male * occupation_ Adm-clerical',
 'sex_ Male * occupation_ Craft-repair',
 'sex_ Male * occupation_ Exec-managerial',
 'sex_ Male * occupation_ Farming-fishing',
 'sex_ Male * occupation_ Machine-op-inspct',
 'sex_ Male * occupation_ Other-service',
 'sex_ Male * occupation_ Prof-specialty',
 'sex_ Male * occupation_ Protective-serv',
 'sex_ Male * occupation_ Sales',
 'sex_ Male * occupation_ Tech-support',
 'sex_ Male * occupation_ Transport-moving',
 'sex_ Male * relationship_ Not-in-family',
 'sex_ Male * relationship_ Own-child',
 'sex_ Male * sex_ Male',
 'sex_ Male * native-country_ United-States',
 'native-country_ United-States * age',
 'native-country_ United-States * fnlwgt',
 'native-country_ United-States * education-num',
 'native-country_ United-States * capital-gain',
 'native-country_ United-States * capital-loss',
 'native-country_ United-States * hours-per-week',
 'native-country_ United-States * workclass_ Federal-gov',
 'native-country_ United-States * workclass_ Local-gov',
 'native-country_ United-States * workclass_ Private',
 'native-country_ United-States * workclass_ Self-emp-inc',
 'native-country_ United-States * workclass_ Self-emp-not-inc',
 'native-country_ United-States * workclass_ State-gov',
 'native-country_ United-States * education_ Assoc-voc',
 'native-country_ United-States * education_ Bachelors',
 'native-country_ United-States * education_ Doctorate',
 'native-country_ United-States * education_ HS-grad',
 'native-country_ United-States * education_ Masters',
 'native-country_ United-States * education_ Prof-school',
 'native-country_ United-States * education_ Some-college',
 'native-country_ United-States * marital-status_ Married-civ-spouse',
 'native-country_ United-States * marital-status_ Never-married',
 'native-country_ United-States * marital-status_ Widowed',
 'native-country_ United-States * occupation_ Adm-clerical',
 'native-country_ United-States * occupation_ Craft-repair',
 'native-country_ United-States * occupation_ Exec-managerial',
 'native-country_ United-States * occupation_ Farming-fishing',
 'native-country_ United-States * occupation_ Machine-op-inspct',
 'native-country_ United-States * occupation_ Other-service',
 'native-country_ United-States * occupation_ Prof-specialty',
 'native-country_ United-States * occupation_ Protective-serv',
 'native-country_ United-States * occupation_ Sales',
 'native-country_ United-States * occupation_ Tech-support',
 'native-country_ United-States * occupation_ Transport-moving',
 'native-country_ United-States * relationship_ Not-in-family',
 'native-country_ United-States * relationship_ Own-child',
 'native-country_ United-States * relationship_ Unmarried',
 'native-country_ United-States * relationship_ Wife',
 'native-country_ United-States * sex_ Male',
 'native-country_ United-States * native-country_ United-States']

In [343]:
X_selected.reset_index(inplace=True)

In [344]:
X_selected.to_csv('../data/feature_selected.csv',index=False)

In [358]:
y= y.reset_index()

In [359]:
y.to_csv('../data/y_bootstrapped.csv', index=False)

(49440,)

In [334]:
X_train, X_test, y_train, y_test = train_test_split(X_selected,y, random_state = 2)

In [335]:
rf_2 = RandomForestClassifier(n_estimators=100)
rf_2.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [336]:
rf_2.score(X_train, y_train), rf_2.score(X_test, y_test)

(0.9999730312837108, 0.9263754045307443)

In [337]:
((rf_2.predict_proba(X_train)[:,0] - y_train)**2).mean(), ((rf_2.predict_proba(X_test)[:,0] - y_test)**2).mean()

(0.9166325943906417, 0.8089722734627766)

In [338]:
roc_auc_score(y_train, rf_2.predict_proba(X_train)[:,1]), roc_auc_score(y_test, rf_2.predict_proba(X_test)[:,1])

(1.0, 0.9822717635006202)

In [291]:
y.to_csv('../data/test_engineered.csv', index=False)

C:\Users\Zachary\.conda\envs\dsi\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [231]:
test = pd.read_csv('../data/clean_test.csv')

In [232]:
X_submit = test

In [233]:
remaining = list(X_submit.columns)
starting = list(X_submit.columns)
for col in remaining:
    for col_2 in starting:
        X_submit[f'{col} * {col_2}'] = X_submit[f'{col}'] * X_submit[f'{col_2}']
    remaining.remove(col)

In [292]:
X_submit

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,...,native-country_ Yugoslavia * education_ HS-grad,native-country_ Yugoslavia * education_ Some-college,native-country_ Yugoslavia * marital-status_ Married-civ-spouse,native-country_ Yugoslavia * occupation_ Craft-repair,native-country_ Yugoslavia * occupation_ Exec-managerial,native-country_ Yugoslavia * occupation_ Farming-fishing,native-country_ Yugoslavia * occupation_ Other-service,native-country_ Yugoslavia * relationship_ Wife,native-country_ Yugoslavia * sex_ Male,native-country_ Yugoslavia * native-country_ Yugoslavia
0,25,226802,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,38,89814,9,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,28,336951,12,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,44,160323,10,7688,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,18,103497,10,0,0,30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,215419,13,0,0,36,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16277,64,321403,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16278,38,374983,13,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16279,44,83891,13,5455,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16280,35,182148,13,0,0,60,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [298]:
rf_final = RandomForestClassifier()
rf_final.fit(X_selected, y)

C:\Users\Zachary\.conda\envs\dsi\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [299]:
good_features_submit = [val for val in good_features if val in X_submit.columns]

In [300]:
X_submit = X_submit[good_features_submit]

In [301]:
submit = pd.DataFrame({'wage':rf_final.predict_proba(X_submit)[:,1]})

In [302]:
submit

       wage
0       0.0
1       0.1
2       0.5
3       0.9
4       0.0
...     ...
16276   0.4
16277   0.1
16278   1.0
16279   0.6
16280   0.9

[16281 rows x 1 columns]

In [303]:
submit.to_csv('../data/team5_1.csv', index=False)