In [70]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_selection import SelectFromModel

In [71]:
train = pd.read_csv('../data/clean_train.csv')

In [72]:
train['wage_ >50K'].value_counts()

0    24720
1     7841
Name: wage_ >50K, dtype: int64

In [73]:
np.random.seed(42)



train = pd.concat([train, train[train['wage_ >50K'] == 1].sample(24720-7841, replace = True)], axis=0)

In [74]:
train.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,wage_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [75]:
# X = train[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
#        'hours-per-week', 'marital-status_ Married-civ-spouse',
#        'marital-status_ Never-married', 'occupation_ Exec-managerial',
#        'occupation_ Other-service', 'occupation_ Prof-specialty',
#        'relationship_ Not-in-family', 'relationship_ Own-child',
#        'relationship_ Unmarried', 'relationship_ Wife', 'sex_ Male']]
X = train.drop(columns='wage_ >50K')
y = train['wage_ >50K']

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

In [77]:
rf = RandomForestClassifier(n_estimators=300)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [78]:
sel = SelectFromModel(rf,prefit=True)
X.columns[sel.get_support()]

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'education_ Bachelors',
       'marital-status_ Married-civ-spouse', 'marital-status_ Never-married',
       'occupation_ Exec-managerial', 'occupation_ Other-service',
       'occupation_ Prof-specialty', 'relationship_ Not-in-family',
       'relationship_ Own-child', 'relationship_ Unmarried', 'sex_ Male'],
      dtype='object')

In [79]:
rf.score(X_train, y_train), rf.score(X_test, y_test)

(1.0, 0.9248381877022653)

In [80]:
((rf.predict_proba(X_train)[:,0] - y_train)**2).mean(), ((rf.predict_proba(X_test)[:,0] - y_test)**2).mean()

(0.9152634987415137, 0.8040810580726246)

In [ ]:
(0.8728862432805127, 0.7251905574512589)
(0.9997133497133497, 0.8530893010686648)